{% extends 'core/base.html' %}

{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'css/pages_style.css'%}">
{% endblock %}

{% block navbar%}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index'%}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agregar-pelicula' %}">Agregar película</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">User: {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registro-usuario' %}">Registrarse</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block contenido %}

    <!--Header-->
    <header>
        <div class="container mazos">
            <h1 class="text-center display-4">Matrix</h1>
            <hr>
        </div>
    </header>
    <section class="container mt-4" id="cartelera">
        <section id="izquierda">
            <div class="caratula">
                <img src="{% static 'img/matrix.jpg' %}" alt="matrix" id="matrix" class="card-img-top">
                <div class="card-body ">
                    <h4 class="card-title">Título: Matrix</h4>
                    <h4 class="card-title">Año: 1999</h4>
                    <h4 class="card-title">Duración: 136 min.</h4>
                    <div class="row container">
                        <h4 class="card-title">País: </h4><img class="bandera ml-2" src="{% static 'img/banderas/usa.png' %}"
                            alt="">
                    </div>
                    <h4 class="card-title">Dirección: Lana Wachowski (as The Wachowski Brothers), Lilly Wachowski (as
                        The Wachowski Brothers) </h4>
                </div>
            </div>
        </section>
    </section>
    <section id="trailer" class="trailer">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Trailer</h2>
        </div>
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="800" height="400" src="https://www.youtube.com/embed/m8e-FF8MsqU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            
        </div>
    </section>
    <section class="container mt-4" id="sinopsis">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Sinopsis</h2>
        </div>

        <div class="container mazos">
            <!--primer deck-->
            <div class="card-deck pb-5">
                <!--card-->
                <div class="sinopsis">
                    <p class="text-center py-4" style="color: rgb(24, 23, 23)">
                        <h3>
                            Thomas A. Anderson es un hombre que vive dos vidas. De día es un programador informático
                            promedio y de noche un hacker conocido como Neo. Neo siempre ha cuestionado su realidad,
                            pero la verdad está mucho más allá de su imaginación. Neo se encuentra en el blanco de la
                            policía cuando Morpheus se pone en contacto con él, un legendario pirata informático
                            calificado como terrorista por el gobierno. Morpheus despierta a Neo en el mundo real, un
                            páramo devastado donde la mayoría de la humanidad ha sido capturada por una raza de máquinas
                            que viven del calor corporal y la energía electroquímica de los humanos y que encarcelan sus
                            mentes dentro de una realidad artificial conocida como Matrix. Como rebelde contra las
                            máquinas, Neo debe regresar a Matrix y enfrentarse a los agentes: programas informáticos
                            súper poderosos dedicados a apagar Neo y toda la rebelión humana.
                    </p>
                    </h3>
                </div>
                <!--card-->
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-3" id="criticas">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Críticas</h2>
        </div>

        <div class="container mazos">
            <!--primer deck-->
            <div class="card-deck pb-5">
                <!--card-->
                <div class="critica">
                    <p class="text-center py-4" style="color: rgb(24, 23, 23)">
                        <h5>
                            Se supone que tenemos que tomarnos el vínculo entre machos y los rituales de sangre
                            como
                            una
                            protesta contra la esterilidad del corporativismo y el diseño moderno, pero los golpes
                            sadomasoquistas de Fincher arrollan toda posible crítica social"
                        </h5>
                    </p>
                    <p>
                        <h6 style="color: green">David Denby: The New Yorker</h6>
                        <br>
                    </p>
                </div>
                <div class="critica">
                    <p style="color: rgb(24, 23, 23)">
                        <h5>"Se supone que tenemos que tomarnos el vínculo entre machos y los rituales de sangre
                            como
                            una
                            protesta contra la esterilidad del corporativismo y el diseño moderno, pero los golpes
                            sadomasoquistas de Fincher arrollan toda posible crítica social"</h5>
                    </p>
                    <p>
                        <h6 style="color: green">David Denby: The New Yorker</h6>
                    </p>
                </div>
                <!--card-->
            </div>
        </div>
        <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>
    </section>

{% endblock %}