{% extends 'core/base.html' %}

{% load staticfiles %}

{%block css%}
    <link rel="stylesheet" href="{% static 'css/pages_style.css' %}">
{%endblock%}

{% block navbar%}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index'%}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agregar-pelicula' %}">Agregar película</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">User: {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registro-usuario' %}">Registrarse</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block contenido %}
    <!--Header-->
    <header>
        <div class="container mazos">
            <h1 class="text-center display-4">Memento</h1>
            <hr>
        </div>
    </header>
    <section class="container mt-4" id="cartelera">
        <section id="izquierda">
            <div class="caratula">
                <img src="{% static 'img/memento.jpeg'%}" alt="memento" id="memento" class="card-img-top">
                <div class="card-body ">
                    <h4 class="card-title">Título: Memento</h4>
                    <h4 class="card-title">Año: 2000</h4>
                    <h4 class="card-title">Duración: 113 min.</h4>
                    <div class="row container">
                        <h4 class="card-title">País: </h4><img class="bandera ml-2" src="{% static 'img/banderas/usa.png'%}"
                            alt="">
                    </div>
                    <h4 class="card-title">Dirección: Christopher Nolan </h4>
                </div>
            </div>
        </section>
    </section>
    <section id="trailer" class="trailer">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Trailer</h2>
        </div>
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="800" height="400" src="https://www.youtube.com/embed/szUbMCa0KYc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            
        </div>
    </section>
    <section class="container mt-4" id="sinopsis">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Sinopsis</h2>
        </div>

        <div class="container mazos">
            <!--primer deck-->
            <div class="card-deck pb-5">
                <!--card-->
                <div class="sinopsis">
                    <p class="text-center py-4" style="color: rgb(24, 23, 23)">
                        <h3>
                            Memento narra dos historias separadas de Leonard, un ex investigador de seguros que ya no
                            puede construir nuevos recuerdos, mientras intenta encontrar al asesino de su esposa, que es
                            lo último que recuerda. Una línea de la historia avanza en el tiempo mientras que la otra
                            cuenta la historia hacia atrás y revela más cada vez.
                    </p>
                    </h3>
                </div>
                <!--card-->
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-3" id="criticas">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Críticas</h2>
        </div>

        <div class="container mazos">
            <!--primer deck-->
            <div class="card-deck pb-5">
                <!--card-->
                <div class="critica">
                    <p class="text-center py-4" style="color: rgb(24, 23, 23)">
                        <h5>
                            Quizá no lo recuerden por falta de tatuaje, pero al poco de estrenarse, "Memento" se
                            convirtió en una obra de culto. Motivos no le faltan; su ingenioso y curiosísimo desarrollo,
                            su envolvente puesta en escena y la propia intriga de la trama hacen de este film un
                            ejercicio brillante de disección de memoria, tanto del protagonista -excelente Guy Pearce-
                            como del espectador. Una película inteligente que engancha y sorprende, que juega con el
                            tiempo sin descuidar su atmósfera. Muy buena.
                        </h5>
                    </p>
                    <p>
                        <h6 style="color: green">Pablo Kurt: FilmAffinity</h6>
                        <br>
                    </p>
                </div>
                <div class="critica">
                    <p style="color: rgb(24, 23, 23)">
                        <h5>"Una de las sorpresas cinematográficas de 2000 (...) el cineasta británico invita al
                            espectador
                            a la agitación y crea un thriller que se ayuda de un diabólico guión para desarrollar una
                            trama
                            que se mueve hacia atrás en el tiempo."</h5>
                    </p>
                    <p>
                        <h6 style="color: green">Miguel Ángel Palomo: Diario El País </h6>
                    </p>
                </div>
                <!--card-->
            </div>
        </div>
        <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>
    </section>
{% endblock %}