{% extends 'core/base.html'%}

{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pages_style.css'%}">
{% endblock %}

{% block navbar%}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index'%}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agregar-pelicula' %}">Agregar película</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">User: {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registro-usuario' %}">Registrarse</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block contenido %}
    <!--Header-->
    <header>
        <div class="container mazos">
            <h1 class="text-center display-4">Pulp Fiction</h1>
            <hr>
        </div>
    </header>
    <section class="container mt-4" id="cartelera">
        <section id="izquierda">
            <div class="caratula">
                <img src="{% static 'img/pulpfiction.jpeg'%}" alt="pulpfiction" id="pulpfiction" class="card-img-top">
                <div class="card-body ">
                    <h4 class="card-title">Título: Pulp Fiction</h4>
                    <h4 class="card-title">Año: 1994</h4>
                    <h4 class="card-title">Duración: 153 min.</h4>
                    <div class="row container">
                        <h4 class="card-title">País: </h4><img class="bandera ml-2" src="{% static 'img/banderas/usa.png'%}"
                            alt="">
                    </div>
                    <h4 class="card-title">Dirección: Quentin Tarantino </h4>
                </div>
            </div>
        </section>
    </section>
    <section id="trailer" class="trailer">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Trailer</h2>
        </div>
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="800" height="400" src="https://www.youtube.com/embed/AN-wDK2kY5Y" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            
        </div>
    </section>
    <section class="container mt-4" id="sinopsis">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Sinopsis</h2>
        </div>

        <div class="container mazos">
            <!--primer deck-->
            <div class="card-deck pb-5">
                <!--card-->
                <div class="sinopsis">
                    <p class="text-center py-4" style="color: rgb(24, 23, 23)">
                        <h3>
                            Jules y Vincent, dos asesinos a sueldo con no demasiadas luces, trabajan para el gángster
                            Marsellus Wallace. Vincent le confiesa a Jules que Marsellus le ha pedido que cuide de Mia,
                            su atractiva mujer. Jules le recomienda prudencia porque es muy peligroso sobrepasarse con
                            la novia del jefe. Cuando llega la hora de trabajar, ambos deben ponerse "manos a la obra".
                            Su misión: recuperar un misterioso maletín.
                    </p>
                    </h3>
                </div>
                <!--card-->
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-3" id="criticas">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Críticas</h2>
        </div>

        <div class="container mazos">
            <!--primer deck-->
            <div class="card-deck pb-5">
                <!--card-->
                <div class="critica">
                    <p class="text-center py-4" style="color: rgb(24, 23, 23)">
                        <h5>
                            Tras firmar con "Reservoir Dogs" (1992) una de las más geniales óperas primas jamás
                            realizadas, Quentin Tarantino confirma su talento único en esta brillantísima película de
                            acción, con diálogos y toques de comedia delirantes ("Soy el Sr. Lobo, resuelvo problemas")
                            al lado de escenas que rayan lo desagradable por su violencia y crudeza. Maravillosamente
                            filmada, de nuevo sorprende su estructura narrativa en un desborde de creatividad estética y
                            guiños cinéfilos de enorme impacto en crítica y público. Un póster perfecto, el misterioso
                            maletín como MacGuffin, una banda sonora impecablemente elegida, John Travolta bailando...
                            Son innumerables los hallazgos de esta sinfonía audiovisual pop que reinventa (o se inventa)
                            una fusión de códigos y géneros para alumbrar todo un clásico del cine moderno.
                        </h5>
                    </p>
                    <p>
                        <h6 style="color: green">Pablo Kurt: FilmAffinity</h6>
                        <br>
                    </p>
                </div>
                <div class="critica">
                    <p style="color: rgb(24, 23, 23)">
                        <h5>"Es una gozada de principio a fin. Es el equivalente en película de esas pocas novelas en
                            las
                            que vas comprobando cuántas páginas te quedan con la esperanza de que haya más, y no menos"
                        </h5>
                    </p>
                    <p>
                        <h6 style="color: green">Mick LaSalle: San Francisco Chronicle </h6>
                    </p>
                </div>
                <!--card-->
            </div>
        </div>
        <a href="{% url 'index'%}" class="btn btn-primary">Volver</a>
    </section>
{% endblock %}