{% extends 'core/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pages_style.css'%}">
{% endblock %}

{% block navbar%}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index'%}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agregar-pelicula' %}">Agregar película</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">User: {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registro-usuario' %}">Registrarse</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block contenido %}
    <!--Header-->
    <header>
        <div class="container mazos">
            <h1 class="text-center display-4">Requiem for a dream</h1>
            <hr>
        </div>
    </header>
    <section class="container mt-4" id="cartelera">
        <section id="izquierda">
            <div class="caratula">
                <img src="{% static 'img/requiem.jpg' %}" alt="requiem" id="requiem" class="card-img-top">
                <div class="card-body ">
                    <h4 class="card-title">Título: Requiem for a dream</h4>
                    <h4 class="card-title">Año: 2000</h4>
                    <h4 class="card-title">Duración: 102 min.</h4>
                    <div class="row container">
                        <h4 class="card-title">País: </h4><img class="bandera ml-2" src="{% static 'img/banderas/usa.png' %}"
                            alt="">
                    </div>
                    <h4 class="card-title">Darren Aronofsky</h4>
                </div>
            </div>
        </section>
    </section>
    <section id="trailer" class="trailer">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Trailer</h2>
        </div>
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="800" height="400" src="https://www.youtube.com/embed/hcyxCry31V0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            
                
        </div>
    </section>
    <section class="container mt-4" id="sinopsis">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Sinopsis</h2>
        </div>

        <div class="container mazos">
            <!--primer deck-->
            <div class="card-deck pb-5">
                <!--card-->
                <div class="sinopsis">
                    <p class="text-center py-4" style="color: rgb(24, 23, 23)">
                        <h3>
                            Sara Goldfarb (Ellen Burstyn) es una viuda retirada que vive en un pequeño departamento.
                            Ella pasa la mayor parte de su tiempo viendo televisión, especialmente un programa
                            particular de autoayuda. Ella tiene delirios de elevarse por encima de su actual existencia
                            aburrida al ser invitada en ese programa. Su hijo, Harry (Jared Leto) es un drogadicto, pero
                            junto con su amigo Tyrone (Marlon Wayans) tiene visiones de triunfar convirtiéndose en un
                            traficante de drogas. La novia de Harry, Marion (Jennifer Connelly), podría ser diseñadora
                            de modas o artista, pero se deja llevar por el mundo de las drogas de Harry. Mientras tanto,
                            Sara ha desarrollado una adicción propia. Desea desesperadamente perder peso, por lo que
                            sigue un curso intensivo que incluye pastillas para tomar, píldoras que resultan ser muy
                            adictivas y perjudiciales para su estado mental.
                    </p>
                    </h3>
                </div>
                <!--card-->
            </div>
        </div>
    </section>

    <section class="container mt-4 mb-3" id="criticas">
        <div class="text-center py-4">
            <hr>
            <h2 style="color: brown">Críticas</h2>
        </div>

        <div class="container mazos">
            <!--primer deck-->
            <div class="card-deck pb-5">
                <!--card-->
                <div class="critica">
                    <p class="text-center py-4" style="color: rgb(24, 23, 23)">
                        <h5>
                            Tras su éxito con "Pi", Aronofsky vuelve a sorprender con esta singular, durísima e intensa
                            historia sobre la experiencia de la adicción a las drogas y a los sueños. Una escalofriante
                            Ellen Burstyn consiguió una nominación al Oscar a la mejor actriz en este chute de cine en
                            vena, efectista y realista al mismo tiempo, algo difícil de encontrar. Sin duda brutal e
                            impactante, cuando se deja reposar se siente, extrañamente y según para quién, algo
                            sobrevalorada. En mi opinión, cierta pirotecnia visual y, sobre todo, la impresionante banda
                            sonora de Mansell adulteran la calidad artística del filme como tal, elevándolo por encima
                            de lo que se merece. Los jóvenes fliparon (flipamos) ante unos simples -pero increíblemente
                            efectivos- compases de notas en "crescendo" que, oh sí, ponían la carne de gallina, creando
                            para el futuro legión de seguidores de su nuevo "camello" de cine favorito, un tipo
                            fascinante que ofrecía sensaciones diferentes: Darren Aronofsky.
                        </h5>
                    </p>
                    <p>
                        <h6 style="color: green">Pablo Kurt: FilmAffinity</h6>
                        <br>
                    </p>
                </div>
                <div class="critica">
                    <p style="color: rgb(24, 23, 23)">
                        <h5>"Puede resultar un fastidio para algunos espectadores, por su dura visión de la cultura de
                            las
                            drogas. Pero nadie interesado en el poder y la magia de las películas debería perdérsela.
                            (...)
                            Puntuación: ★★★★ (sobre 4)"</h5>
                    </p>
                    <p>
                        <h6 style="color: green">Peter Travers: Rolling Stone </h6>
                    </p>
                </div>
                <!--card-->
            </div>
        </div>
        <a href="{% url 'index'%}" class="btn btn-primary">Volver</a>
    </section>
{% endblock %}