{% extends 'core/base.html'%}

{% block navbar%}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index'%}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agregar-pelicula' %}">Add película</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listado-peliculas' %}">Mis películas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recomendaciones' %}">Recomendaciones</a>
            </li>
            {% if request.user.groups.all.0.name == 'Mantenedor' %}
                <li class="nav-item">
                    <a class="nav-link" href="#">User: {{ user.username }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">User: {{ user.username }}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block contenido %}

<div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
    <h2>Agregar Pelicula</h2>
    <form class="container py-3" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table> 
        <div class="py-4">
            <input class="btn btn-primary" type="reset" value="Limpiar">
            <input class="btn btn-success" type="submit" value="Agregar">
            <a class="btn btn-primary" href="{% url 'listado-peliculas'%}">Visualizar películas</a>
        </div> 
        
    </form>

    {{ mensaje }}
</div>

{% endblock %}