{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icono.jpeg' %}" />
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/0a6512b87a.js"></script>
    <!--Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!--CSS Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--CSS JQuery UI-->        
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% block css %}
    
    {% endblock %}
    <!--CSS propio-->
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Cinema Classics</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="CinemaLogo" id="logo" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% block navbar %}
                
                {% endblock %}
            </div>
        </div>
    </nav>
    
    {% block contenido %}

    {% endblock %}

    <footer class="footer py-4 text-white container-fluid">
        <span>Copyright Website 2019 | Privacy Policy | Site Map | </span>
        <span>DWY4101 – Desarrollo Aplicaciones Web y Mobile</span>
        <div class="iconos">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square fa-2x pl-2"></i></a>
            <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square fa-2x pl-2"></i></a>
            <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i
                    class="fab fa-instagram fa-2x pl-2"></i></a>
        </div>
    </footer>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--JQuery UI-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
    <!--Popper-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <!--JSBootstrap-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--JS Parallax-->
    <script src='{% static "js/parallax.min.js" %}'></script>
    {% block javascript %}
    {% endblock %}
</body>

</html>