{% extends 'core/base.html'%}

{% load static %}

{% block javascript %}

    <script src="{% static 'js/confirmacion.js' %}"></script>

{% endblock %}

{% block navbar%}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index'%}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agregar-pelicula' %}">Add película</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listado-peliculas' %}">Mis películas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recomendaciones' %}">Recomendaciones</a>
            </li>
            {% if request.user.groups.all.0.name == 'Mantenedor' %}
                <li class="nav-item">
                    <a class="nav-link" href="#">User: {{ user.username }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">User: {{ user.username }}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block contenido %}
<div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
    <h2 class="pt-2 pb-4">Mis Películas</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Titulo</th>
                <th scope="col">Año</th>
                <th scope="col">Duracion</th>
                <th scope="col">Pais</th>
                <th scope="col">Director</th>
                <th scope="col">Fecha estreno</th>
                <th scope="col">Sinopsis</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in peliculas %}

            <tr>
                {% if p.imagen %}
                    <td scope="row"><img src="{{ p.imagen.url }}" class="card-img-top" alt="imagen"></td>
                    {% else %}
                    <td scope="row"><img src="{% static 'img/captura.png' %}" class="card-img-top" alt="imagen"></td>
                {% endif %} 
                <td scope="row">{{p.titulo}}</td>
                <td scope="row">{{p.anio}}</td>
                <td scope="row">{{p.duracion}}</td>
                <td scope="row">{{p.pais}}</td>
                <td scope="row">{{p.director}}</td>
                <td scope="row">{{p.fecha_estreno}}</td>
                <td scope="row">{{p.sinopsis}}</td>
                <td scope="row"><a class="btn btn-warning" href="{% url 'modificar-pelicula' p.id %}"><i class="far fa-edit fa-2x"></i></a></td>
                <td scope="row"><a class="btn btn-danger" href="#" onclick="confirmarEliminacion({{p.id}});"><i class="far fa-trash-alt fa-2x"></i></a></td>
            </tr>
    
            {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <a class="btn btn-success" href="{% url 'agregar-pelicula'%}">Agregar película</a>
    </div>
</div>
{% endblock %}