{% extends 'core/base.html'%}

{% load static %}

{% block javascript %}

    <script src="{% static 'js/confirmacion2.js' %}"></script>

{% endblock %}

{% block navbar%}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index'%}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agregar-pelicula' %}">Add película</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listado-peliculas' %}">Mis películas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recomendaciones' %}">Recomendaciones</a>
            </li>
            {% if request.user.groups.all.0.name == 'Mantenedor' %}
                <li class="nav-item">
                    <a class="nav-link" href="#">User: {{ user.username }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">User: {{ user.username }}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block contenido %}

    <div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
        <h2 class="text-center">Recomendaciones</h2>
        <h4 class="text-center mb-5">Entérate y comparte tus películas favoritas con la comunidad</h4>

        <form class="form-inline mb-5" action="" method="GET">
            <div class="form-group mx-3">
                <label class="mr-2">Buscar por título:</label>
                <input class="form-control mr-2" type="text" name="titulo">
                <button class="btn btn-secondary" type="submit" name="btn-titulo">Buscar</button>
            </div>
            
            <div class="form-group">
                <label class="mx-2">Buscar por director:</label>
                <input class="form-control mx-2" type="text" name="director">
                <button class="btn btn-secondary" type="submit" name="btn-director">Buscar</button>
            </div>
        </form>

        <!--tabla-->
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Duracion</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Director</th>
                    <th scope="col">Sinopsis</th>
                    <th scope="col">Usuario</th>
                    {% if request.user.groups.all.0.name == 'Mantenedor' %}
                    <th scope="col">Eliminar película</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for p in peliculas %}

                <tr>
                    {% if p.imagen %}
                    <td scope="row"><img src="{{ p.imagen.url }}" class="card-img-top" alt="imagen"></td>
                    {% else %}
                    <td scope="row"><img src="{% static 'img/captura.png' %}" class="card-img-top" alt="imagen"></td>
                    {% endif %}
                    <td scope="row">{{p.titulo}}</td>
                    <td scope="row">{{p.anio}}</td>
                    <td scope="row">{{p.duracion}}</td>
                    <td scope="row">{{p.pais}}</td>
                    <td scope="row">{{p.director}}</td>
                    <td scope="row">{{p.sinopsis}}</td>
                    <td scope="row">{{p.user.username}}</td>
                    {% if request.user.groups.all.0.name == 'Mantenedor' %}
                        <td scope="row"><a class="btn btn-danger" href="#" onclick="confirmarEliminacion2({{p.id}});"><i class="far fa-trash-alt fa-2x"></i></a></td>
                    {% endif %}                        
                </tr>
        
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}" class="btn btn-primary mb-5">Volver</a>
    </div>

{% endblock %}